@import "font";
@import "variables"; 

//font,variables는 다시 로드


// 관리자모드의 헤더에 색상 추가용

//*************************************************************
// header
// 
// start ↓↓↓
//*************************************************************

.body_bg{
    background: #ffffff;
}

main{
    margin-top: 0 !important;
}
.header{   

    .header__innear{
        &::before{
            content: '';      
            background: linear-gradient(
                to right,
                rgba(17, 24, 39, 1),
                rgba(17, 24, 39, 1) 60%,
                #153885
            );
        }
    }

    
}