@import "variables"; 



// service 공통
// 
// start ↓↓↓
//*************************************************************

.service{
    color: var(--caify-white);
}

//service 공통
//
// end ↑↑↑
//*************************************************************


//*************************************************************
// service--index
// 
// ↓↓↓ start
//*************************************************************

.service--index{
    // background: url('/images/index/service_bg.png') 0% 125% / cover no-repeat; 
    background-image: 
        url('/images/index/service_bot_bg_grid.png'),
        url('/images/index/service_bg_bottom.png');
        // url('/images/index/service_bg_top.png');
    background-color: #000;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 100%, contain;
    background-position: center bottom, left bottom, calc(100% + 350px) top;
    transition-duration: 0.3s;

    @media (max-width: 900px) {
        background-size: 100%, 100%, 100%;
        background-position: center bottom, left bottom, calc(100% + 300px) top;
    }

    .service__hero{
        .service__hero-logo{
            img{
                width: 27.8125rem;
            }
        }
    }
    .service__card-list{

        .service__card{
            width: 15.625rem;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: var(--size-20px) var(--size-20px) 0 var(--size-20px);
            background: rgba(255, 255, 255, 0.1);  /* css3를 지원하지 않는 브라우저용 */
            background: radial-gradient(circle at 100% 0%,rgba(255, 255, 255, 1) -10%, rgba(17, 24, 39, 0) 50%);
            inset: 0;
            box-shadow: 0 1.875rem 1rem rgba(30, 30, 30, 0.5);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(25px);
            transition: all 0.3s ease;

            &:nth-child(1):hover {
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
                transform: translateY(-10px); 
            }
            &:nth-child(2):hover {
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
                transform: translateY(-10px); 
            }

            .service__card-link{

                .service__card-img{
                    width: fit-content;
                    height: var(--size-40px);
                }
                .service__card-text{
                    color: var(--caify-white);
                    font-size: var(--size-24px);
                }
            }
        }
        .service__card--shorts{

            .service__card-test-wrap{
                position: relative;
                overflow: hidden;
                
                &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8) 0%, rgba(17, 24, 39, 0.8) 93%);
                }

                .service__card-link{
                    padding: var(--size-50px) var(--size-30px);
                    gap: var(--size-24px);
                }
            }
            .service__card-badge-wrap{
                position: absolute;
                display: flex;
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                gap: 0.35rem;
                left: 50%;
                top: 0%;
                transform: translate( 20%, 75%);

                .service__card-badge{
                    display: flex;
                    gap: 0.35rem;
                    rotate: -7.5deg;
                    background: rgba(37, 99, 235, 1);
                    background: radial-gradient(circle at 15% 10%,rgba(37, 99, 235, 1) 0%, rgba(17, 24, 39, 1) 20%);
                    box-shadow: 0 0 15px rgba(37, 99, 235, 1);
                    padding: 1rem;
                    border-radius: var(--size-30px);
                    animation: floating 3s ease-in-out infinite;

                    @keyframes floating {
                        0% { transform: translateY(0); }
                        50% { transform: translateY(-10px); }
                        100% { transform: translateY(0); }
                    }

                    .service__card-badge-img{
                        width: 1rem;
                        height: fit-content;
                    }
                    .service__card-badge-text{
    
                        background: linear-gradient(to right, #fff 0%, #2563EB 100%);
                        color: transparent;
                        -webkit-background-clip: text;
                    }
                }
            }
        }
    }
        
}





//*************************************************************
// service--index
// 
// ↑↑↑ end 
//*************************************************************
















//*************************************************************
// service--offer
// 
// ↓↓↓ start
//*************************************************************




// start ↓↓↓
// 공용 wrap

.service--offer-wrap{
    background: 
    url("../../images/service/service_top_bg.png") top / contain no-repeat,
    linear-gradient(to top, #111827 0%, #000 10%, #111827 10%);
    // url("../../images/service/service_bot_bg.png") bottom / contain no-repeat,
    // linear-gradient(to top, #111827 0%, #000 10%, #111827 20%);

}

// 공용 wrap
// end ↑↑↑


.service--offer-each{

    .service__hero-title-wrap{
        
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: -75%;
            width: 100%;
            height: 200px;
            background: url('/../images/service/service_main_title_bg.png') center / contain no-repeat;
            z-index: -1;
        }
    }

    .offer-list{
        border-radius: var(--size-20px);
        background: rgba(255, 255, 255, 0.05);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 2px; 
            background: linear-gradient(to right, #29F082 0%, #2563EB 30%, #29F082 65%, #2563EB 100%);
            background-size: 300% 100%;
            background-position: left center;
            transition: background-position 2s ease;
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
            z-index: 0;
        }
        &:hover::before {
            background-position: right center;
        }

        .offer-list__item{
            width: 100%;

            &:nth-child(1){
                border-right: 1px solid rgba(255, 255, 255, 0.5);
            }
            
            .offer-list__info{

                img{
                    height: var(--size-40px);
                    width: fit-content;
                }

                .offer-list__title{
                    font-size: var(--size-24px);
                    font-weight: 500;
                    padding: var(--size-10px) var(--size-30px);
                    border-radius: var(--size-50px);
                    border: 1px solid var(--caify-primary);
                    background: linear-gradient(to left, rgba(37, 99, 235, 0.5) 0%, #2563EB 50%);
                    overflow: hidden;
                }
                .offer-list__text{
                    line-height: 1.2;

                    .offer-list__note{
                        color: var(--caify-gray-03);
                    }
                }
            }
            .offer-list__price{
                width: 100%;
                background-color: rgba(37, 99, 235, 0.2);
                border-radius: var(--size-20px);
                padding: 1.5rem 5.5rem;
                font-size: var(--size-32px);
                font-weight: 600;
                line-height: 0.75;

                .offer-list__price-note{
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--caify-gray-03);
                }
            }            
            
        }
        .offer-list__item--blog{
            .offer-list__info{
                .offer-list__title{
                    border: 1px solid var(--color-naver);
                    background: linear-gradient(to left, rgba(3, 199, 90, 0.5) 0%, #03c75a 50%);
                }
            }
            .offer-list__price{
                background-color: rgba(3, 199, 90, 0.2);
            }
        }
    }
}



.service--offer-package{
    // background: linear-gradient(to bottom, #111827 0%, #000 10%, rgba(17, 24, 39, 0) 20%);
    background: url("../../images/service/service-offer-package_bg.png") top / cover no-repeat;

    .service__hero{
        .service__hero-title-wrap{
            .title-en{
                font-size: var(--size-30px);
            }
        }
    }

    .offer-package__discount{

        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 100%;
            background: url('/../images/service/service_discount_bg.png') center / 100% no-repeat;
            z-index: 0;
        }

        .discount__sub{
            color: var(--caify-white);
            font-size: var(--size-40px);
            font-weight: 600;
            text-align: center;
        }

        .discount__title{
            font-family: 'Aggravo';
            font-size: var(--size-60px);
            font-weight: 700;
            line-height: 1.2;
            background-image: linear-gradient( 90deg, #111827 0%, #29F082 19%,#fff 52%, #29F082 80%, #111827);
            color: transparent;
            -webkit-background-clip: text;
        }
    }
    .offer-package__date{
        font-size: var(--size-45px);
        color: var(--color-promotion);
        margin-top: var(--size-24px);

        .offer-package__date-num{
            font-family: 'Aggravo';
            background-color: #000;
            border-radius: var(--size-8px);
            padding: var(--size-10px) var(--size-14px) var(--size-6px);
            text-align: end;
        }
        .offer-package__date-text{
            font-size: var(--size-32px);
            margin-right: var(--size-40px);

            &:last-child{
                margin-right: 0;
            }
        }
    }
    .offer-package__product{

        .offer-package__card{
            position: relative;
            border: 1px solid transparent;
            border-radius: var(--size-20px);
            background: linear-gradient(to bottom,  rgba(17, 24, 39, 0) 60%, rgba(135, 87, 251,0.5) 100%);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(25px);
            transition: all 0.3s ease;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: inherit;
                padding: 2px; 
                background: linear-gradient(to bottom, #8757FB 0%, rgba(17, 24, 39, 0) 25%, rgba(17, 24, 39, 0) 75%, #8757FB 100%);
                background-size: 100% 100%;
                background-position: center;
                transition: background-position 2s ease;
                -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude; 
                z-index: 0;
            }
            &:hover{
                box-shadow: 0 0 25px rgba(137, 87, 251,0.5);
            }

            .offer-package__card-header{

                .offer-package__badge{
                    font-size: var(--size-24px);
                    font-weight: 600;
                    background: linear-gradient(to right, #8757FB 0%, rgba(135, 87, 251, 0.15) 50%);
                    border-radius:var(--size-50px);
                    padding: 0.5rem var(--size-45px);
                }
                .offer-package__price-wrap{

                    .offer-package__price-origin{
                        font-size: var(--size-28px);
                        text-decoration: line-through;
                        text-decoration-color: var(--caify-white);
                        
                    }
                    .offer-package__price{
                        font-size: var(--size-32px);
                        font-weight: 600;
                        font-family: 'Aggravo';
                        color: var(--caify-purple);
                        line-height: 1.5;
                    }
                }
                .offer-package__desc{
                    line-height: 1.2;

                    .offer-package__desc-point{
                        color: var(--color-promotion);
                    }
                }
            }
            .offer-package__card-body{

                .offer-package__sub-title{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 0.75rem;

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        flex: 1;
                        height: 1px;
                        min-width: 0;
                        background-color: var(--caify-white);
                    }
                }
                .offer-package__logo-wrap{

                    .offer-package__logo-plus{
                        color: var(--caify-purple);
                        font-size: var(--size-20px);
                        font-weight: 800;
                    }
                }
                .offer-package__service-list{
                    
                    .offer-package__service-item{
                        font-size: var(--size-20px);
                        background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 244, 255, 0.05) 100%);
                        border-radius: var(--size-50px);
                    }
                }
                .offer-package__detail-list{
                    .offer-package__detail-item{
                        line-height: 1.2;

                        .offer-package__detail-note{
                            color: var(--caify-gray-03);
                        }
                    }
                }
            }
        }

        .btn-subscribe-accent{
            background-position: 0 0px;
            font-family: 'Aggravo';
        }
    }
}


//*************************************************************
// service--offer
// 
// ↑↑↑ end 
//*************************************************************







//*************************************************************
// service--footer
// 
// ↓↓↓ start
//*************************************************************



.service--footer{
    background:url("../../images/service/service_bot_bg.png") top / cover no-repeat;

    .title--rotate{
        opacity: 0.25;
    }
}


//*************************************************************
// service--footer
// 
// ↑↑↑ end 
//*************************************************************

